{% load static %}

<html>
    <head>
        <title>Esme's Spanish Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>mi blog en español | made with Django</h1>
        </div>

        {% for post in posts %}
            <div class="posts">
                <h2>{{ post.title }}</h2>
                <p>publicado: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <hr>
            </div>
        {% endfor %}
    </body>
</html>
